body{
	background-image:url(fondogeneral.jpeg);
	background-repeat: no-repeat;
	background-size: cover;  
}

header{
	width: 100%; 
}

.navegacion{
	text-align: center;
	width: 992px;
	height: 75px;
	margin: 10px auto;
	background: black;
	opacity: 0.7;
	
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 30px 50px;
	color: white;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: red;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background:black;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
	box-shadow: 0px 0px 25px 3px black;
}

.submenu li a{
	display: block;
	padding: 10px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

.linea{
    border-top: 5px solid red;
    margin-bottom: 40px;
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.galeria{
    font-family: 'open sans';
}

.galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
    color: white;
}

.linea{
    border-top: 5px solid red;
    margin-bottom: 40px;
}

.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgba(192, 0, 0, 0.781) ;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overlay h2{
    color: #fff;
    font-weight: 300;
    font-size:30px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay{
    height:100%;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}


div#contactanos{
	margin-top: 20px auto;
	display: flex;
	justify-content: center;
	width: 1350px;
	height: 100px;
	background-color: yellow;
	box-shadow: 2px 2px 50px 6px blueviolet;
	opacity: 0.7;
	padding: 2%;

}